# CRONTAB

SHELL = /bin/bash
AHOJ = ahoj ahoj
HOME = /home $SHELL $AHOJ $AHOJ $AHOJ $SHELL
KGDASGDS = gskldajklgdjskjgk djaskjgkdsjagkljdskajgkldasjkgjdkasjgksdjalgkdjaksjgksldjkdsalg  jkdsajk

# gkldsaj
#gdas
# SHELL = gkdasl

#min    hour    dayOfMonth  month   dayOfWeek  COMMAND
#[0-59] [0-23]  [0-30]      [0-11]  [0-6]
#                           [Jan-]  [Sun-]
* * * * * $SHELL -e echo "exec"
1 2 3 4 4 $HOME $SHELL $SHELL $AHOJ
* * 23 * 5 $COMMAND
