# CRONTAB

SHELL = /bin/bash
AHOJ = ahoj ahoj
HOME = /home $SHELL $AHOJ $AHOJ $AHOJ $SHELL
KGDASGDS = gskldajklgdjskjgk djaskjgk

# gkldsaj
#gdas
# SHELL = gkdasl

#min    hour    dayOfMonth  month   dayOfWeek  COMMAND
#[0-59] [0-23]  [0-30]      [0-11]  [0-6]
#                           [Jan-]  [Sun-]
* * * * * $SHELL -c 'echo "exec"'
#* * * * * cat /etc/passwd
#* * 23 * 5 $COMMAND
